body {
    height: 100%;
    font-family: "Nunito Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    background: black;

}

#container-header {
    background: url(../img/gambar-header.jpg);
    height: 650px;
    background-size: cover;
    max-width: 100%;

}

#nav-header a {
    color: #F4F6F7;
}

a :hover {
    color: #e4381C;
}

a :active {
    color: #e4381C;
}

a ::after {
    color: #e4381C;
}

#carouselExampleCaptions {
    margin-top: 150px;
}

.primary-btn {
    display: inline-block;
    font-size: 14px;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    padding: 0 12px;
    color: #ffffff;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    width: 160px;
    height: 46px;
    border-left: 2px solid #e16521;
    border-right: 2px solid #e4381C;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 2px;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, #e4381C), to(#e16521)), -webkit-gradient(linear, left top, right top, from(#e4381C), color-stop(0%, #e16521));
    background-image: -o-linear-gradient(left, #e4381C 100%, #e16521 100%), -o-linear-gradient(left, #e4381C 0%, #e16521 0%);
    background-image: linear-gradient(to right, #e4381C 100%, #e16521 100%), linear-gradient(to right, #e4381C 0%, #e16521 0%);

    -webkit-transition-duration: 1000ms;
    -o-transition-duration: 1000ms;
    transition-duration: 1000ms;
    line-height: 45px;
    position: relative;
    z-index: 1;
    border-radius: 4px;
}

.primary-btn:hover {
    background: #e4381C;
}

.primary-btn:after {
    color: #fff;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    background: #e16521;
    background: -webkit-gradient(linear, left top, right top, from(#e16521), to(#e4381C));
    background: -o-linear-gradient(left, #e16521, #e4381C);
    background: linear-gradient(to right, #e16521, #e4381C);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 2px;
    opacity: 0;
}

.card {
    border: none;
    height: 300px;
}

.card :before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: #e4381C;
    content: "";
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.card :hover :before {
    opacity: 1;
}

#gc {
    background: url(../img/feature/feature-1.jpg);
    background-size: cover;
}

#gc h5 {
    font-family: 'Oswald', 'sans-serif';
    font-size: 30px;
    color: #ffffff;
}

#gc p {
    font-family: 'Nunito Sans', 'sans-serif';
    font-size: 16px;
    color: #ffffff;
}

#pc {
    background: url(../img/feature/feature-2.jpg);
    background-size: cover;
}

#pc h5 {
    font-family: 'Oswald', 'sans-serif';
    font-size: 30px;
    color: #ffffff;
}

#pc p {
    font-family: 'Nunito Sans, sans-serif';
    font-size: 16px;
    color: #ffffff;
}

#sc {
    background: url(../img/feature/feature-3.jpg);
    background-size: cover;
}

#sc h5 {
    font-family: 'Oswald', 'sans-serif';
    font-size: 30px;
    color: #ffffff;
}

#sc p {
    font-family: 'Nunito Sans', 'sans-serif';
    font-size: 16px;
    color: #ffffff;
}

.spad {
    padding-top: 100px;
    padding-bottom: 100px;
}

.spad-2 {
    padding-top: 50px;
    padding-bottom: 70px;
}

.spad h2 {
    font-family: 'Oswald', 'sans-serif';
    color: #ffffff;
    font-size: 48px;
}

.short-details {
    color: #ffffff;
    font-family: 'Nunito Sans', 'sans-serif';
    font-size: 20px;
}

.long-details {
    color: #ffffff;
    font-family: 'Nunito Sans', 'sans-serif';
    font-size: 16px;
}

.class-title {
    background: url(../img/classes-title-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding-top: 60px;
    padding-bottom: 62px;
}

.class-title h2 {
    font-family: 'Oswald', 'sans-serif';
    font-size: 40px;
    color: #ffffff;
    text-transform: uppercase;
}

.class-title p {
    font-family: 'Nunito Sans', 'sans-serif';
    font-size: 16px;
    color: #ffffff;

}

/* css tabel time */
.classtime-section {
    background: #151515;
    padding-top: 90px;
}

.classtime-section .section-title {
    margin-bottom: 48px;
}

.timetable-controls {
    text-align: center;
    margin-bottom: 40px;
}

.timetable-controls ul li {
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    display: inline-block;
    margin-right: 80px;
    cursor: pointer;
    position: relative;
}

.timetable-controls ul li.active {
    color: #e4381C;
}

.timetable-controls ul li.active:after {
    opacity: 1;
}

.timetable-controls ul li:after {
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 100%;
    height: 2px;
    background: #e4381C;
    content: "";
    opacity: 0;
}

.timetable-controls ul li:last-child {
    margin-right: 0;
}

.classtime-table .ts-item {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.classtime-table.filtering .ts-item {
    opacity: 0;
}

.classtime-table.filtering .ts-item.show {
    opacity: 1;
}

.classtime-table table {
    width: 100%;
    border: 1px solid #1f1f1f;
    background: #212121;
    text-align: center;
}

.classtime-table table thead tr th {
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    padding: 25px 5px;
}

.classtime-table table tbody {
    border-top: 1px solid #171717;
}

.classtime-table table tbody tr td {
    text-align: center;
    border-right: 1px solid #171717;
    border-bottom: 1px solid #171717;
    width: 146px;
    padding: 26px 10px 28px;
    position: relative;
    z-index: 1;
}

.classtime-table table tbody tr td:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#e16521), to(#e4381C));
    background: -o-linear-gradient(left, #e16521, #e4381C);
    background: linear-gradient(to right, #e16521, #e4381C);
    content: "";
    opacity: 0;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.classtime-table table tbody tr td.hover-bg:hover:after {
    opacity: 1;
}

.classtime-table table tbody tr td.hover-bg:hover h6 {
    color: #ffffff;
}

.classtime-table table tbody tr td.workout-time {
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Oswald", sans-serif;
}

.classtime-table table tbody tr td span {
    font-size: 16px;
    color: #ffffff;
    display: block;
    margin-bottom: 7px;
}

.classtime-table table tbody tr td h6 {
    color: #e4381C;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

/* Section Price Plan */
.price-section {
    padding-top: 90px;
    padding-bottom: 70px;
    background: url(../img/price-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.price-section .section-title {
    text-align: center;
    margin-bottom: 36px;
}

.price-section .section-title p {
    color: #ffffff;
}

.price-section .toggle-option {
    text-align: center;
    margin-bottom: 50px;
}

.price-section .toggle-option li {
    list-style: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Oswald", sans-serif;
    color: #ffffff;
    letter-spacing: 1px;
    margin-right: 10px;
}

.price-section .toggle-option li:last-child {
    margin-right: 0;
}

.price-section .toggle-option li .switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 30px;
    margin-bottom: 0;
}

.price-section .toggle-option li .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.price-section .toggle-option li .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 2px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.price-section .toggle-option li .switch .slider::before {
    position: absolute;
    content: "";
    height: 30px;
    width: 35px;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 2px;
}

.price-section .toggle-option li .switch input:checked+.slider:before {
    -webkit-transform: translateX(-35px);
    -ms-transform: translateX(-35px);
    transform: translateX(-35px);
}

.single-price-plan {
    background: #ffffff;
    text-align: center;
    padding: 45px 0 50px;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.single-price-plan h4 {
    color: #272727;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 34px;
}

.single-price-plan .price-plan {
    margin-bottom: 35px;
}

.single-price-plan .price-plan h2 {
    color: #272727;
    font-size: 48px;
    font-weight: 700;
    position: relative;
    padding-left: 18px;
    margin-bottom: 10px;
    display: inline-block;
}

.single-price-plan .price-plan h2 span {
    color: #272727;
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    left: 0;
    top: 9px;
}

.single-price-plan .price-plan p {
    font-size: 16px;
    line-height: 20px;
    color: #272727;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.single-price-plan ul {
    margin-bottom: 35px;
}

.single-price-plan ul li {
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    color: #272727;
    line-height: 42px;
}

.single-price-plan .primary-btn.price-btn {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, #e16521), color-stop(0%, #e4381C)), -webkit-gradient(linear, left top, right top, color-stop(100%, #e4381C), color-stop(0%, #e16521));
    background-image: -o-linear-gradient(left, #e16521 100%, #e4381C 0%), -o-linear-gradient(left, #e4381C 100%, #e16521 0%);
    background-image: linear-gradient(to right, #e16521 100%, #e4381C 0%), linear-gradient(to right, #e4381C 100%, #e16521 0%);
    color: #e4381C;
}

.single-price-plan .primary-btn.price-btn:hover {
    color: #ffffff;
}

.single-price-plan .primary-btn.price-btn:hover:after {
    opacity: 1;
}

.single-price-plan .tic-text {
    width: 160px;
    height: 40px;
    background: #e4381C;
    position: absolute;
    right: -67px;
    top: -5px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.single-price-plan .tic-text i {
    position: absolute;
    left: 69px;
    top: 15px;
    color: #ffffff;
}

/* pilihan program */
.chooseus-section {
    background: #151515;
    padding-top: 88px;
    padding-bottom: 50px;
}

.chooseus-section.schedule-page .section-title {
    text-align: center;
}

.chooseus-section.schedule-page .choose-item {
    text-align: center;
}

.chooseus-section .section-title {
    margin-bottom: 52px;
}

.choose-item {
    margin-bottom: 40px;
}

.choose-item h5 {
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 25px;
}

.choose-item p {
    color: #7b7b7b;
    font-weight: 500;
}

/* css video */
.video-section {
    text-align: center;
    height: 500px;
    background: url(../img/hero-slider/hero-1.jpg);
    background-size: cover;
}

.video-section .video-text {
    text-align: center;
    padding-top: 150px;
}

.video-section .video-text h2 {
    font-size: 60px;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 42px;
}

.video-section .video-text .play-btn {
    display: inline-block;
    height: 60px;
    width: 60px;
    font-size: 22px;
    background: #ffffff;
    text-align: center;
    line-height: 62px;
    color: #e4381C;
    border-radius: 50%;
    position: relative;
    padding-left: 5px;
}

.video-section .video-text .play-btn:after {
    position: absolute;
    left: -5px;
    top: -5px;
    width: 70px;
    height: 70px;
    background: #ffffff;
    opacity: 0.3;
    border-radius: 50%;
    content: "";
}

/* css blog */
.blog-section {
    background: #151515;
    padding-top: 90px;
    padding-bottom: 66px;
}

.blog-section .section-title {
    margin-bottom: 55px;
}

#card1 {
    height: 400px;
}

#card2 {
    height: 200px;
}

#card3 {
    height: 300px;
}

#card4 {
    height: 225px;
}

#card5 {
    height: 325px;
}

/* section join */
.Join {
    background: -o-linear-gradient(45deg, #e16521, #e4381C);
    background: linear-gradient(45deg, #e16521, #e4381C);
    padding: 38px 0;
}

.Join .cta-text {
    float: left;
}

.Join .cta-text h3 {
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.Join .cta-text p {
    color: #ffffff;
    margin-bottom: 0;
}

.Join .primary-btn.cta-btn {
    float: right;
    border-color: #ffffff;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, #ffffff), to(#ffffff)), -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(0%, #ffffff));
    background-image: -o-linear-gradient(left, #ffffff 100%, #ffffff 100%), -o-linear-gradient(left, #ffffff 0%, #ffffff 0%);
    background-image: linear-gradient(to right, #ffffff 100%, #ffffff 100%), linear-gradient(to right, #ffffff 0%, #ffffff 0%);
    margin-top: 14px;
}

/* section maps */
.map {
    height: 590px;
    position: relative;
}

.map iframe {
    width: 100%;
}

.map-contact-detalis {
    width: 420px;
    padding: 40px;
    background: #ffffff;
    position: absolute;
    right: 120px;
    top: 80px;
    -webkit-box-shadow: 6px 6px 50px rgba(198, 198, 198, 0.2);
    box-shadow: 6px 6px 50px rgba(198, 198, 198, 0.2);
}

.map-contact-detalis .open-time {
    overflow: hidden;
    margin-bottom: 10px;
}

.map-contact-detalis .open-time h5 {
    font-size: 20px;
    color: #000000;
    font-weight: 500;
    text-transform: uppercase;
    float: left;
}

.map-contact-detalis .open-time ul {
    float: right;
}

.map-contact-detalis .open-time ul li {
    font-size: 14px;
    color: #000000;
    list-style: none;
    font-weight: 600;
    line-height: 30px;
    position: relative;
    padding-right: 108px;
}

.map-contact-detalis .open-time ul li span {
    position: absolute;
    right: 0;
    top: 0;
}

.map-contact-detalis .map-contact-form h5 {
    font-size: 20px;
    color: #000000;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.map-contact-detalis .map-contact-form form input {
    width: calc(53% - 20px);
    margin-right: 20px;
    float: left;
    height: 40px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #272727;
    border: 1px solid #e1e1e1;
    padding-left: 20px;
    border-radius: 2px;
}

.map-contact-detalis .map-contact-form form input.phone {
    width: 47%;
    margin-right: 0;
}

.map-contact-detalis .map-contact-form form input::-webkit-input-placeholder {
    color: #272727;
    font-weight: 600;
}

.map-contact-detalis .map-contact-form form input::-moz-placeholder {
    color: #272727;
    font-weight: 600;
}

.map-contact-detalis .map-contact-form form input:-ms-input-placeholder {
    color: #272727;
    font-weight: 600;
}

.map-contact-detalis .map-contact-form form input::-ms-input-placeholder {
    color: #272727;
    font-weight: 600;
}

.map-contact-detalis .map-contact-form form input::placeholder {
    color: #272727;
    font-weight: 600;
}

.map-contact-detalis .map-contact-form form textarea {
    width: 100%;
    height: 80px;
    resize: none;
    font-size: 16px;
    color: #272727;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    padding-left: 20px;
    padding-top: 10px;
    margin-bottom: 18px;
}

.map-contact-detalis .map-contact-form form textarea::-webkit-input-placeholder {
    color: #272727;
    font-weight: 600;
}

.map-contact-detalis .map-contact-form form textarea::-moz-placeholder {
    color: #272727;
    font-weight: 600;
}

.map-contact-detalis .map-contact-form form textarea:-ms-input-placeholder {
    color: #272727;
    font-weight: 600;
}

.map-contact-detalis .map-contact-form form textarea::-ms-input-placeholder {
    color: #272727;
    font-weight: 600;
}

.map-contact-detalis .map-contact-form form textarea::placeholder {
    color: #272727;
    font-weight: 600;
}

/* section footer */
.footer-section {
    background: #151515;
    padding-top: 72px;
}

.footer-logo-item {
    margin-bottom: 30px;
}

.footer-logo-item .f-logo {
    margin-bottom: 40px;
}

.footer-logo-item .f-logo a {
    display: inline-block;
}

.footer-logo-item p {
    color: #afb4bf;
    margin-bottom: 32px;
}

.footer-logo-item .social-links h6 {
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-logo-item .social-links a {
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    margin-right: 32px;
}

.footer-logo-item .social-links a:last-child {
    margin-right: 0;
}

.footer-widget {
    margin-bottom: 30px;
}

.footer-widget h5 {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.footer-widget .footer-blog .fb-item {
    display: block;
    margin-bottom: 20px;
}

.footer-widget .footer-blog .fb-item:hover h6 {
    color: #e4381C;
}

.footer-widget .footer-blog .fb-item h6 {
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 12px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.footer-widget .footer-blog .fb-item span {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    color: #afb4bf;
}

.footer-widget .footer-blog .fb-item span i {
    color: #e4381C;
    margin-right: 5px;
}

.footer-widget .workout-program li {
    list-style: none;
}

.footer-widget .workout-program li a {
    display: block;
    font-size: 16px;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    color: #ffffff;
    line-height: 18px;
    margin-bottom: 22px;
}

.footer-widget .footer-info li {
    list-style: none;
    font-size: 16px;
    color: #afb4bf;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
}

.footer-widget .footer-info li i {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 24px;
    color: #e4381C;
}

.footer-widget .footer-info li span {
    color: #ffffff;
    display: block;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
}

.copyright-text {
    background: #000000;
    border-top: 1px solid #0a0a0a;
    padding: 20px 0;
    margin-top: 20px;
}

.copyright-text .ct-inside {
    font-size: 14px;
    color: #afb4bf;
}

.copyright-text .ct-inside a {
    font-weight: 600;
    color: #e4381C;
}